<ng-template>
	<div class="Custom-Dialog" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
		<div fxLayout="column" fxFlex="100%">
			<div class="BartopPop" fxLayout="row" fxFlex="100%">
				<div fxLayout="column" fxFlex="50%" fxLayoutAlign="center start">
					<mat-menu #appMenu="matMenu">
						<div mat-menu-item class="plMenuCSS" (click)="$event.stopPropagation();">
							<mat-label>Territory</mat-label>
							<span class="custom-dropdown">
								<mat-select [(ngModel)]="Filtr.Territory" (selectionChange)="applyFilter()">
									<mat-option [value]="null">All</mat-option>
									<mat-option *ngFor="let Territory of ListFiltrs.Territories" [value]="Territory"> {{Territory}} </mat-option>
								</mat-select>
							</span>
						</div>
						<div mat-menu-item class="plMenuCSS" (click)="$event.stopPropagation();">
							<mat-label>Company</mat-label>
							<span class="custom-dropdown">
								<mat-select [(ngModel)]="Filtr.Company" (selectionChange)="applyFilter()">
									<mat-option [value]="null">All</mat-option>
									<mat-option *ngFor="let Company of ListFiltrs.Companies" [value]="Company"> {{Company}} </mat-option>
								</mat-select>
							</span>
						</div>
						<div mat-menu-item class="plMenuCSS" (click)="$event.stopPropagation();">
							<mat-label>Brand</mat-label>
							<span class="custom-dropdown">
								<mat-select [(ngModel)]="Filtr.Brand" (selectionChange)="applyFilter()">
									<mat-option [value]="null">All</mat-option>
									<mat-option *ngFor="let Brand  of ListFiltrs.Brands" [value]="Brand "> {{Brand}} </mat-option>
								</mat-select>
							</span>
						</div>
					</mat-menu>
					<button color="primary" class="FiltrIcon" [matMenuTriggerFor]="appMenu" mat-button aria-label="filters">
						Filters <mat-icon>filter_list</mat-icon>
					</button>
				</div>
				<div class="closeIcon" fxLayout="column" fxFlex="50%" fxLayoutAlign="center end">
					<mat-icon aria-label="Close" (click)="closeDialog()">close</mat-icon>
				</div>
			</div>
			<div fxLayout="row" fxFlex="100%" fxLayoutAlign="center center" class="LayoutMarginCumTotal">
				<mat-tab-group mat-align-tabs="start">
					<mat-tab label="Territory">
						<div fxLayout="column" fxFlex="100%" class="hfull">
							<table class="T3" mat-table [dataSource]="ListTerCompliance">
								<!-- Brand Column -->
								<ng-container matColumnDef="territory">
									<th class="Btop" mat-header-cell *matHeaderCellDef>
										<span (click)="SysFiltering('Mc')"> Territory </span>
									</th>
									<td mat-cell *matCellDef="let element">{{element.Territory}}</td>
									<td mat-footer-cell *matFooterCellDef>Totals</td>
								</ng-container>

								<!-- Fmes1 Column -->
								<ng-container matColumnDef="FMonthN1">
									<th class="Bleft" mat-header-cell *matHeaderCellDef>{{appService.obtenerMes(1)}}</th>
									<td class="Tcenter" mat-cell *matCellDef="let p">$ {{p.FMonthN1 | number }}</td>
									<td class="Tcenter" mat-footer-cell *matFooterCellDef>$ {{gettotalTerritorySummary('FMonthN1') | number}}</td>
								</ng-container>

								<!-- Fmes2 Column -->
								<ng-container matColumnDef="FMonthN2">
									<th mat-header-cell *matHeaderCellDef>{{appService.obtenerMes(2)}}</th>
									<td class="Tcenter" mat-cell *matCellDef="let p">$ {{p.FMonthN2 | number }}</td>
									<td class="Tcenter" mat-footer-cell *matFooterCellDef>$ {{gettotalTerritorySummary('FMonthN2') | number}}</td>
								</ng-container>

								<!-- Fmes3 Column -->
								<ng-container matColumnDef="FMonthN3">
									<th class="Bright" mat-header-cell *matHeaderCellDef>{{appService.obtenerMes(3)}}</th>
									<td class="Tcenter" mat-cell *matCellDef="let p">$ {{p.FMonthN3 | number }}</td>
									<td class="Tcenter" mat-footer-cell *matFooterCellDef>$ {{gettotalTerritorySummary('FMonthN3') | number}}</td>
								</ng-container>

								<!-- Pmes1 Column -->
								<ng-container matColumnDef="PMonthN1">
									<th mat-header-cell *matHeaderCellDef>{{appService.obtenerMes(1)}}</th>
									<td class="Tcenter" mat-cell *matCellDef="let p">$ {{p.PMonthN1 | number }}</td>
									<td class="Tcenter" mat-footer-cell *matFooterCellDef>$ {{gettotalTerritorySummary('PMonthN1') | number}}</td>
								</ng-container>

								<!-- Pmes2 Column -->
								<ng-container matColumnDef="PMonthN2">
									<th class="" mat-header-cell *matHeaderCellDef>{{appService.obtenerMes(2)}}</th>
									<td class="Tcenter" mat-cell *matCellDef="let p">$ {{p.PMonthN2 | number }}</td>
									<td class="Tcenter" mat-footer-cell *matFooterCellDef>$ {{gettotalTerritorySummary('PMonthN2') | number}}</td>
								</ng-container>

								<!-- Pmes3 Column -->
								<ng-container matColumnDef="PMonthN3">
									<th class="Bright" mat-header-cell *matHeaderCellDef>{{appService.obtenerMes(3)}}</th>
									<td class="Tcenter" mat-cell *matCellDef="let p">$ {{p.PMonthN3 | number }}</td>
									<td class="Tcenter" mat-footer-cell *matFooterCellDef>$ {{gettotalTerritorySummary('PMonthN3') | number}}</td>
								</ng-container>

								<!-- Cumes1 Column -->
								<ng-container matColumnDef="CuMonthN1">
									<th mat-header-cell *matHeaderCellDef>{{appService.obtenerMes(1)}}</th>
									<td class="Tcenter" mat-cell *matCellDef="let p">{{p.CMonthN1 | number }}%</td>
									<td class="Tcenter" mat-footer-cell *matFooterCellDef>
										{{_Ctrl.getCumplim_(gettotalTerritorySummary('FMonthN1'),gettotalTerritorySummary('PMonthN1')) | number : '1.0-0'
										}}%
									</td>
								</ng-container>

								<!-- Cumes2 Column -->
								<ng-container matColumnDef="CuMonthN2">
									<th class="" mat-header-cell *matHeaderCellDef>{{appService.obtenerMes(2)}}</th>
									<td class="Tcenter" mat-cell *matCellDef="let p">{{p.CMonthN2 | number }}%</td>
									<td class="Tcenter" mat-footer-cell *matFooterCellDef>
										{{_Ctrl.getCumplim_(gettotalTerritorySummary('FMonthN2'),gettotalTerritorySummary('PMonthN2')) | number : '1.0-0'
										}}%
									</td>
								</ng-container>

								<!-- Cumes3 Column -->
								<ng-container matColumnDef="CuMonthN3">
									<th class="Bright" mat-header-cell *matHeaderCellDef>{{appService.obtenerMes(3)}}</th>
									<td class="Tcenter" mat-cell *matCellDef="let p">{{p.CMonthN3 | number }}%</td>
									<td class="Tcenter" mat-footer-cell *matFooterCellDef>
										{{_Ctrl.getCumplim_(gettotalTerritorySummary('FMonthN3'),gettotalTerritorySummary('PMonthN3')) | number :
										'1.0-0'}}%
									</td>
								</ng-container>

								<!-- Columnas  espacio -->
								<ng-container matColumnDef="space1">
									<th class="NoBbottom colornone" mat-header-cell *matHeaderCellDef></th>
								</ng-container>

								<!-- Items -->
								<ng-container matColumnDef="Forecast_">
									<th class="HeaderTop NoBbottom Btop Bright Bleft Tcenter Bdtop" mat-header-cell *matHeaderCellDef colspan="3">
										Forecast $
									</th>
								</ng-container>
								<ng-container matColumnDef="Presupuesto_">
									<th class="HeaderTop NoBbottom Btop Bright Tcenter Bdtop" mat-header-cell *matHeaderCellDef colspan="3">Budget $</th>
								</ng-container>
								<ng-container matColumnDef="Compliance">
									<th class="HeaderTop NoBbottom Btop Bright Tcenter Bdtop" mat-header-cell *matHeaderCellDef colspan="3">
										Compliance %
									</th>
								</ng-container>

								<tr mat-header-row *matHeaderRowDef="['space1','Forecast_','Presupuesto_','Compliance']"></tr>
								<tr mat-header-row *matHeaderRowDef="displayedColumns;" class="Thcenter"></tr>
								<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
								<tr mat-footer-row *matFooterRowDef="displayedColumns;"></tr>
							</table></div
					></mat-tab>
					<mat-tab label="Company"
						><div fxLayout="column" fxFlex="100%" class="hfull">
							<table class="T3" mat-table [dataSource]="ListCompCompliance">
								<!-- Brand Column -->
								<ng-container matColumnDef="territory">
									<th class="Btop" mat-header-cell *matHeaderCellDef>
										<span (click)="SysFiltering('Mc')"> Company </span>
									</th>
									<td mat-cell *matCellDef="let element">{{element.Company}}</td>
									<td mat-footer-cell *matFooterCellDef>Totals</td>
								</ng-container>

								<!-- Fmes1 Column -->
								<ng-container matColumnDef="FMonthN1">
									<th class="Bleft" mat-header-cell *matHeaderCellDef>{{appService.obtenerMes(1)}}</th>
									<td class="Tcenter" mat-cell *matCellDef="let p">$ {{p.FMonthN1 | number }}</td>
									<td class="Tcenter" mat-footer-cell *matFooterCellDef>$ {{gettotalCompanySummary('FMonthN1') | number}}</td>
								</ng-container>

								<!-- Fmes2 Column -->
								<ng-container matColumnDef="FMonthN2">
									<th mat-header-cell *matHeaderCellDef>{{appService.obtenerMes(2)}}</th>
									<td class="Tcenter" mat-cell *matCellDef="let p">$ {{p.FMonthN2 | number }}</td>
									<td class="Tcenter" mat-footer-cell *matFooterCellDef>$ {{gettotalCompanySummary('FMonthN2') | number}}</td>
								</ng-container>

								<!-- Fmes3 Column -->
								<ng-container matColumnDef="FMonthN3">
									<th class="Bright" mat-header-cell *matHeaderCellDef>{{appService.obtenerMes(3)}}</th>
									<td class="Tcenter" mat-cell *matCellDef="let p">$ {{p.FMonthN3 | number }}</td>
									<td class="Tcenter" mat-footer-cell *matFooterCellDef>$ {{gettotalCompanySummary('FMonthN3') | number}}</td>
								</ng-container>

								<!-- Pmes1 Column -->
								<ng-container matColumnDef="PMonthN1">
									<th mat-header-cell *matHeaderCellDef>{{appService.obtenerMes(1)}}</th>
									<td class="Tcenter" mat-cell *matCellDef="let p">$ {{p.PMonthN1 | number }}</td>
									<td class="Tcenter" mat-footer-cell *matFooterCellDef>$ {{gettotalCompanySummary('PMonthN1') | number}}</td>
								</ng-container>

								<!-- Pmes2 Column -->
								<ng-container matColumnDef="PMonthN2">
									<th class="" mat-header-cell *matHeaderCellDef>{{appService.obtenerMes(2)}}</th>
									<td class="Tcenter" mat-cell *matCellDef="let p">$ {{p.PMonthN2 | number }}</td>
									<td class="Tcenter" mat-footer-cell *matFooterCellDef>$ {{gettotalCompanySummary('PMonthN2') | number}}</td>
								</ng-container>

								<!-- Pmes3 Column -->
								<ng-container matColumnDef="PMonthN3">
									<th class="Bright" mat-header-cell *matHeaderCellDef>{{appService.obtenerMes(3)}}</th>
									<td class="Tcenter" mat-cell *matCellDef="let p">$ {{p.PMonthN3 | number }}</td>
									<td class="Tcenter" mat-footer-cell *matFooterCellDef>$ {{gettotalCompanySummary('PMonthN3') | number}}</td>
								</ng-container>

								<!-- Cumes1 Column -->
								<ng-container matColumnDef="CuMonthN1">
									<th mat-header-cell *matHeaderCellDef>{{appService.obtenerMes(1)}}</th>
									<td class="Tcenter" mat-cell *matCellDef="let p">{{p.CMonthN1 | number }}%</td>
									<td class="Tcenter" mat-footer-cell *matFooterCellDef>
										{{_Ctrl.getCumplim_(gettotalCompanySummary('FMonthN1'),gettotalCompanySummary('PMonthN1')) | number : '1.0-0' }}%
									</td>
								</ng-container>

								<!-- Cumes2 Column -->
								<ng-container matColumnDef="CuMonthN2">
									<th class="" mat-header-cell *matHeaderCellDef>{{appService.obtenerMes(2)}}</th>
									<td class="Tcenter" mat-cell *matCellDef="let p">{{p.CMonthN2 | number }}%</td>
									<td class="Tcenter" mat-footer-cell *matFooterCellDef>
										{{_Ctrl.getCumplim_(gettotalCompanySummary('FMonthN2'),gettotalCompanySummary('PMonthN2')) | number : '1.0-0' }}%
									</td>
								</ng-container>

								<!-- Cumes3 Column -->
								<ng-container matColumnDef="CuMonthN3">
									<th class="Bright" mat-header-cell *matHeaderCellDef>{{appService.obtenerMes(3)}}</th>
									<td class="Tcenter" mat-cell *matCellDef="let p">{{p.CMonthN3 | number }}%</td>
									<td class="Tcenter" mat-footer-cell *matFooterCellDef>
										{{_Ctrl.getCumplim_(gettotalCompanySummary('FMonthN3'),gettotalCompanySummary('PMonthN3')) | number : '1.0-0'}}%
									</td>
								</ng-container>

								<!-- Columnas  espacio -->
								<ng-container matColumnDef="space1">
									<th class="NoBbottom colornone" mat-header-cell *matHeaderCellDef></th>
								</ng-container>

								<!-- Items -->
								<ng-container matColumnDef="Forecast_">
									<th class="HeaderTop NoBbottom Btop Bright Bleft Tcenter Bdtop" mat-header-cell *matHeaderCellDef colspan="3">
										Forecast $
									</th>
								</ng-container>
								<ng-container matColumnDef="Presupuesto_">
									<th class="HeaderTop NoBbottom Btop Bright Tcenter Bdtop" mat-header-cell *matHeaderCellDef colspan="3">Budget $</th>
								</ng-container>
								<ng-container matColumnDef="Compliance">
									<th class="HeaderTop NoBbottom Btop Bright Tcenter Bdtop" mat-header-cell *matHeaderCellDef colspan="3">
										Compliance %
									</th>
								</ng-container>

								<tr mat-header-row *matHeaderRowDef="['space1','Forecast_','Presupuesto_','Compliance'];sticky: true"></tr>
								<tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true" class="Thcenter"></tr>
								<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
								<tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
							</table></div
					></mat-tab>
					<mat-tab label="Brand"
						><div fxLayout="column" fxFlex="100%" class="hfull mat-elevation-z8">
							<table class="T3" mat-table [dataSource]="ListBrandCompliance">
								<!-- Brand Column -->
								<ng-container matColumnDef="territory">
									<th mat-header-cell *matHeaderCellDef class="Btop">
										<span (click)="SysFiltering('Mc')"> Brand </span>
									</th>
									<td mat-cell *matCellDef="let element">{{element.Brand}}</td>
									<td mat-footer-cell *matFooterCellDef>Totals</td>
								</ng-container>

								<!-- Fmes1 Column -->
								<ng-container matColumnDef="FMonthN1">
									<th mat-header-cell *matHeaderCellDef class="Bleft">{{appService.obtenerMes(1)}}</th>
									<td class="Tcenter" mat-cell *matCellDef="let p">$ {{p.FMonthN1 | number }}</td>
									<td class="Tcenter" mat-footer-cell *matFooterCellDef>$ {{gettotalBrandSummary('FMonthN1') | number}}</td>
								</ng-container>

								<!-- Fmes2 Column -->
								<ng-container matColumnDef="FMonthN2">
									<th mat-header-cell *matHeaderCellDef>{{appService.obtenerMes(2)}}</th>
									<td class="Tcenter" mat-cell *matCellDef="let p">$ {{p.FMonthN2 | number }}</td>
									<td class="Tcenter" mat-footer-cell *matFooterCellDef>$ {{gettotalBrandSummary('FMonthN2') | number}}</td>
								</ng-container>

								<!-- Fmes3 Column -->
								<ng-container matColumnDef="FMonthN3">
									<th mat-header-cell *matHeaderCellDef class="Bright">{{appService.obtenerMes(3)}}</th>
									<td class="Tcenter" mat-cell *matCellDef="let p">$ {{p.FMonthN3 | number }}</td>
									<td class="Tcenter" mat-footer-cell *matFooterCellDef>$ {{gettotalBrandSummary('FMonthN3') | number}}</td>
								</ng-container>

								<!-- Pmes1 Column -->
								<ng-container matColumnDef="PMonthN1">
									<th mat-header-cell *matHeaderCellDef>{{appService.obtenerMes(1)}}</th>
									<td class="Tcenter" mat-cell *matCellDef="let p">$ {{p.PMonthN1 | number }}</td>
									<td class="Tcenter" mat-footer-cell *matFooterCellDef>$ {{gettotalBrandSummary('PMonthN1') | number}}</td>
								</ng-container>

								<!-- Pmes2 Column -->
								<ng-container matColumnDef="PMonthN2">
									<th mat-header-cell *matHeaderCellDef>{{appService.obtenerMes(2)}}</th>
									<td class="Tcenter" mat-cell *matCellDef="let p">$ {{p.PMonthN2 | number }}</td>
									<td class="Tcenter" mat-footer-cell *matFooterCellDef>$ {{gettotalBrandSummary('PMonthN2') | number}}</td>
								</ng-container>

								<!-- Pmes3 Column -->
								<ng-container matColumnDef="PMonthN3">
									<th mat-header-cell *matHeaderCellDef class="Bright">{{appService.obtenerMes(3)}}</th>
									<td class="Tcenter" mat-cell *matCellDef="let p">$ {{p.PMonthN3 | number }}</td>
									<td class="Tcenter" mat-footer-cell *matFooterCellDef>$ {{gettotalBrandSummary('PMonthN3') | number}}</td>
								</ng-container>

								<!-- Cumes1 Column -->
								<ng-container matColumnDef="CuMonthN1">
									<th mat-header-cell *matHeaderCellDef>{{appService.obtenerMes(1)}}</th>
									<td class="Tcenter" mat-cell *matCellDef="let p">{{p.CMonthN1 | number }}%</td>
									<td class="Tcenter" mat-footer-cell *matFooterCellDef>
										{{_Ctrl.getCumplim_(gettotalBrandSummary('FMonthN1'),gettotalBrandSummary('PMonthN1')) | number : '1.0-0' }}%
									</td>
								</ng-container>

								<!-- Cumes2 Column -->
								<ng-container matColumnDef="CuMonthN2">
									<th mat-header-cell *matHeaderCellDef>{{appService.obtenerMes(2)}}</th>
									<td class="Tcenter" mat-cell *matCellDef="let p">{{p.CMonthN2 | number }}%</td>
									<td class="Tcenter" mat-footer-cell *matFooterCellDef>
										{{_Ctrl.getCumplim_(gettotalBrandSummary('FMonthN2'),gettotalBrandSummary('PMonthN2')) | number : '1.0-0' }}%
									</td>
								</ng-container>

								<!-- Cumes3 Column -->
								<ng-container matColumnDef="CuMonthN3">
									<th mat-header-cell *matHeaderCellDef class="Bright">{{appService.obtenerMes(3)}}</th>
									<td class="Tcenter" mat-cell *matCellDef="let p">{{p.CMonthN3 | number }}%</td>
									<td class="Tcenter" mat-footer-cell *matFooterCellDef>
										{{_Ctrl.getCumplim_(gettotalBrandSummary('FMonthN3'),gettotalBrandSummary('PMonthN3')) | number : '1.0-0'}}%
									</td>
								</ng-container>

								<!-- Columnas  espacio -->
								<ng-container matColumnDef="space1">
									<th mat-header-cell *matHeaderCellDef class="NoBbottom colornone"></th>
								</ng-container>

								<!-- Items -->
								<ng-container matColumnDef="Forecast_">
									<th mat-header-cell *matHeaderCellDef class="HeaderTop NoBbottom Btop Bright Bleft Tcenter Bdtop" colspan="3">
										Forecast $
									</th>
								</ng-container>
								<ng-container matColumnDef="Presupuesto_">
									<th mat-header-cell *matHeaderCellDef class="HeaderTop NoBbottom Btop Bright Tcenter Bdtop" colspan="3">Budget $</th>
								</ng-container>
								<ng-container matColumnDef="Compliance">
									<th mat-header-cell *matHeaderCellDef class="HeaderTop NoBbottom Btop Bright Tcenter Bdtop" colspan="3">
										Compliance %
									</th>
								</ng-container>

								<tr mat-header-row *matHeaderRowDef="columnsHeader1;sticky: true"></tr>
								<tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true" class="Thcenter"></tr>
								<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
								<tr mat-footer-row *matFooterRowDef="displayedColumns;sticky: true"></tr>
							</table></div
					></mat-tab>
				</mat-tab-group>
			</div>
		</div>
	</div>
</ng-template>
