<div [hidden]="!Mostrar">
  <div class="menu">

    <ul>
      <li>
        <div fxLayout="row" fxFlex="100%">
          <div fxLayout="column"><i class="IcoDefault material-icons"
              style="font-size: 53px;margin-right: 2px;color: #586D78">account_circle</i></div>
          <div fxLayout="column" class="InfoUser">
            <span style="color: #ffc001;">
              {{ NombreUsuario }}
            </span>
            <span style="font-weight: 300;"> {{EmailG}}</span></div>
        </div>
      </li>
    </ul>

    <ul class="ContainerMenu">
      <li *ngFor="let menu of ListaMenus">
        <div>
          <span>{{ menu.Titulo }}</span>
        </div>
        <ul>
          <li *ngFor="let submenu of menu.Submenus">
            <span>{{ submenu.Titulo }}</span>
          </li>
        </ul>
      </li>
    </ul>

  </div>
</div>
<main [ngClass]="{'MainPadding': Mostrar == true,'MainHeight': Mostrar == false }">
  <div fxLayout="row" fxLayoutAlign="center center" class="header" *ngIf="Mostrar">
    <div class="icono-menu" fxLayout="row" fxLayoutAlign="start center" fxFlex="55%">
      <div fxLayout="column" fxLayoutAlign="center start" style="height: 100%">
        <div class="icono-menu" fxLayout="row" fxLayoutAlign="start end" fxFlex="65%">
          <div>
            <div class="nav-var" style="padding-bottom: 2px;">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
            </div>
          </div>
          <div>
            <div fxLayout="column" fxLayoutAlign="center center">
              <span>MENU </span>
              <!-- <span>{{vWAUlUpdate}} </span> -->
            </div>
          </div>
          <div>
            <span> {{NombreTitulo}} </span>
          </div>
        </div>
        <div class="DateUp" fxLayout="row" fxLayoutAlign="start end" fxFlex="35%">
          <span> Última Actualización </span><span> {{vWAUlUpdate}} </span>
        </div>
      </div>
    </div>
    <div fxfxLayout="row" fxfxLayoutAlign="end center" class="Logo" fxFlex="45%">
      <!-- <img (click)="IrHome()" src="static/img/LogoN.png" alt="Noel" style="width: 33px;height: auto;margin-left: 10px;"> -->
    </div>
  </div>
  <div fxLayout="row" class="nav" *ngIf="Mostrar">
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="70%" class="DirectAccess1" *ngIf="ABC || widthMax <= 960">

      <button mat-button  [hidden]="UrlMTS != ''" [ngClass]="{'NivelSelect': Nivel1 == 1}">
        <span [ngClass]="{'icon-office': UrlMTO != '', 'icon-svg': UrlMTO == '' && UrlPromo == '' }"></span>
        <label> {{nameMTs}} </label>

      </button>
      <button mat-button  *ngIf="UrlMTS != '' && UrlMTO != ''"
        [ngClass]="{'NivelSelect': Nivel2 == 1}">
        <span class="icon-briefcase"></span>
        <label> MTO </label>
      </button>
      <button mat-button  *ngIf="UrlMTS != '' && UrlPromo != ''"
        [ngClass]="{'NivelSelect': Nivel3 == 1}">
        <span class="icon-price-tag"></span>
        <label> Promociones </label>
      </button>
      <button mat-button  *ngIf="UrlMTS != ''" [ngClass]="{'NivelSelect': Nivel4 == 1}">
        <span class="icon-sort-amount-asc"></span>
        <label> Secuenciación </label>
      </button>
      <button mat-button  *ngIf="UrlMTS == '/ProgramacionH12/'"
        [ngClass]="{'NivelSelect': Nivel5 == 1}">
        <span class="icon-equalizer"></span>
        <label> Configuración </label>
      </button>
      <button mat-button *ngIf="UrlMTS != ''">
        <span class="icon-download2"></span>
        <label> Descargar </label>
      </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="70%" class="DirectAccess1" *ngIf="!ABC  && widthMax > 960">
      <button mat-button  [ngClass]="{'NivelSelect': Nivel1 == 1}">
        <span class="icon-warning"></span>
        <label> Log de errores </label>

      </button>
      <!-- <div></div> <div></div> -->
      <button mat-button  [ngClass]="{'NivelSelect': Nivel2 == 1}">
        <span class="icon-file-excel"></span>
        <label> Programación 8 sem </label>
      </button>
      <button mat-button  [ngClass]="{'NivelSelect': Nivel3 == 1}">
        <span class="icon-file-excel"></span>
        <label> Coberturas </label>
      </button>
      <button mat-button  [ngClass]="{'NivelSelect': Nivel4 == 1}">
        <span class="icon-table2"></span>
        <label> Tablas </label>
      </button>
      <button mat-button [ngClass]="{'NivelSelect': Nivel5 == 1}">
        <span class="icon-cloud-download"></span>
        <label> Descargas </label>
      </button>
      <button mat-button>
        <span class="icon-diamonds"></span>
        <label> otros </label>
      </button>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="end center" fxFlex="30%" class="DirectAccess2">
      <button mat-button class="enlarge" *ngIf="widthMax > 960">
          <mat-icon>fullscreen</mat-icon>
        <label> Full screen </label>
      </button>
      <button mat-button class="enlarge2" *ngIf="widthMax > 960">
        <mat-icon>fullscreen_exit</mat-icon>
        <label> Min screen </label>
      </button>
      <button mat-button routerLink="/home" class="notEnlarge" *ngIf="widthMax > 960">
        <mat-icon>home</mat-icon>
        <label> Home </label>
      </button>
      <button mat-icon-button class="moreMenu" [matMenuTriggerFor]="menu">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button mat-menu-item>
          <mat-icon>fullscreen</mat-icon>
          <span>Full screen</span>
        </button>
        <button mat-menu-item routerLink="/login">
          <mat-icon>directions_run</mat-icon>
          <span>Cerrar Sesion</span>
        </button>
      </mat-menu>
    </div>

  </div>
  <router-outlet></router-outlet>
</main>
