<div [hidden]="!Mostrar">
	<div class="menu">
		<ul>
			<li class="efect-menu-li">
				<div fxLayout="row" fxFlex="100%">
					<div fxLayout="column">
						<i class="IcoDefault material-icons" style="font-size: 53px; margin-right: 2px; color: #586d78">account_circle</i>
					</div>
					<div fxLayout="column" fxLayoutAlign="center start" class="InfoUser">
						<span style="color: #ffc001">
							{{ NombreUsuario }}
						</span>
						<span style="font-weight: 300"> {{ EmailG }}</span>
					</div>
				</div>
			</li>
		</ul>

		<ul class="NS-container-menus">
			<li *ngFor="let menu of ListaMenus" class="NS-menu">
				<div class="NS-menu-title" style="width: 100%">
					<span>{{ menu.Titulo }}</span>
				</div>
				<ul class="NS-container-submenus">
					<li *ngFor="let submenu of menu.Submenus" class="NS-submenu" (click)="IrDForecast(submenu, '')">
						<div class="NS-submenu-title" style="width: 100%">
							<span>{{ submenu.Titulo }}</span>
						</div>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
<main [ngClass]="{ MainPadding: Mostrar == true, MainHeight: Mostrar == false }">
	<div fxLayout="row" fxLayoutAlign="center center" class="header" *ngIf="Mostrar">
		<div class="icono-menu" fxLayout="row" fxLayoutAlign="start center" fxFlex="55%">
			<div fxLayout="column" fxLayoutAlign="center start" style="height: 100%">
				<div
					class="NS-btn-menu icono-menu"
					fxLayout="row"
					fxLayoutAlign="start end"
					fxFlex="40%"
					style="margin-top: 25%; cursor: pointer"
				>
					<div>
						<div class="nav-var" style="padding-bottom: 2px">
							<div class="bar1"></div>
							<div class="bar2"></div>
							<div class="bar3"></div>
						</div>
					</div>
					<div fxLayout="row">
						<div fxLayout="column" fxLayoutAlign="center center">
							<span>MENU</span>
							<!-- <span>{{vWAUlUpdate}} </span> -->
						</div>
					</div>
				</div>
			</div>
			<div fxLayout="row" class="Logo2" fxLayoutAlign="start end" fxFlex="45%"></div>
		</div>
		<div fxLayout="row" fxLayoutAlign="end center" class="Logo" fxFlex="45%">
			<!-- <img (click)="IrHome()" src="static/img/LogoN.png" alt="Noel" style="width: 33px;height: auto;margin-left: 10px;"> -->
		</div>
	</div>
	<div fxLayout="row" class="nav" *ngIf="Mostrar">
		<div fxLayout="row" fxLayoutAlign="start center" fxFlex="70%" class="DirectAccess1" *ngIf="ABC || widthMax <= 960">
			<span class="NS-menu-title-marca-text" *ngIf="NombreTitulo != ''">Territory:</span>
			<span class="NS-menu-marca-text">{{ NombreTitulo }}</span>
		</div>
		<div fxLayout="row" fxLayoutAlign="start center" fxFlex="70%" class="DirectAccess1" *ngIf="!ABC && widthMax > 960"></div>
		<div fxFlex fxLayout="row" fxLayoutAlign="end center" fxFlex="30%" class="DirectAccess2">
			<button mat-button class="enlarge" *ngIf="widthMax > 960">
				<mat-icon>fullscreen</mat-icon>
				<label> Full screen </label>
			</button>
			<button mat-button class="enlarge2" *ngIf="widthMax > 960">
				<mat-icon>fullscreen_exit</mat-icon>
				<label> Min screen </label>
			</button>
			<button mat-button routerLink="/home" class="notEnlarge" fxLayout="row" fxLayoutAlign="center center" *ngIf="widthMax > 960">
				<mat-icon style="font-size: 20px">home</mat-icon>
				<label> Home </label>
			</button>
			<button mat-icon-button class="moreMenu" [matMenuTriggerFor]="menu">
				<mat-icon>keyboard_arrow_down</mat-icon>
			</button>
			<mat-menu #menu="matMenu">
				<button mat-menu-item>
					<mat-icon>home</mat-icon>
					<span>Home</span>
				</button>
				<!-- <button mat-menu-item>
					<mat-icon>fullscreen</mat-icon>
					<span>Full screen</span>
				</button> -->

				<button mat-menu-item routerLink="/login">
					<mat-icon>directions_run</mat-icon>
					<span>Sign Out</span>
				</button>

				<button mat-menu-item (click)="reload()">
					<mat-icon>refresh</mat-icon>
					<span>Refresh Page</span>
				</button>
			</mat-menu>
		</div>
	</div>
	<div fxLayout="row" fxFlex="94%" fxLayoutAlign="center start">
		<router-outlet></router-outlet>
	</div>
</main>
